@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

body {
  font-family: "Titillium Web";
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
  color: #b94a48;
}

.field-validation-valid {
  display: none;
}

input.input-validation-error {
  border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
  border: 0 none;
}

.validation-summary-errors {
  color: #b94a48;
}

.validation-summary-valid {
  display: none;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem) rotate(-50deg); /* rotate(-50deg); rotate example*/
  }
  /* 60% {
    transform: rotate(180deg);
  } */
  80% {
    transform: translateX(5rem) rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.animated {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInLeft 2s ease-in 1s;
}
